.event-card.mdl-card {
    width: 100%;
    margin-bottom: 25px;
}

.button-attending {
    background: rgb(76,175,80) !important;
    color: #FFFFFF !important;
}

.event-card-button-right {
    float: right;
}

.event-card .mdl-card__title {
    color: #FFFFFF;
}

.event-card h5 {
    display: inline;
}