.event-card.mdl-card {
    width: 100%;
    margin-bottom: 25px;
}

.button-attending {
    background: rgb(76,175,80) !important;
    color: #FFFFFF !important;
}

.event-card-button-right {
    float: right;
}

.event-card .mdl-card__title {
    color: #FFFFFF;
}

.event-card h5 {
    display: inline;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons, .icon-text {
    vertical-align: middle;
}

.maps {
    width: 100%;
}

.maps .image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
}

.ava {
    border-radius: 50%;
    max-width: 100%;
}

.details .presenting {
    text-align: left;
}

@media(max-width: 480px) {
    .details .presenting {
        text-align: center;
    }
}

.details .presenting p {
    margin-bottom: 0;
}

.details .presenting h3 {
    margin-top: 0;
}

.details .program h4 {
    margin-top: 0;
}

.details .program ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}