.event-card.mdl-card {
    width: 100%;
    margin-bottom: 25px;
}

.event-card.event-card-attending .mdl-card__title, .event-card.event-card-attending .mdl-button--primary {
    background: rgb(76,175,80) !important;
    color: #FFFFFF !important;
}

.event-card-button-right {
    float: right;
}

.event-card .mdl-card__title {
    color: #FFFFFF;
}

.event-card h5 {
    display: inline;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons, .icon-text {
    vertical-align: middle;
}

.maps {
    width: 100%;
}

.maps .image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
}

.ava {
    border-radius: 50%;
}